#content {
    width: 1150px;
    margin: 130px 0 0 0;
}
#content .section {
    padding: 20px;
    background-color: #eeeed8;
    width: 760px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    margin-top: -20px;
}
#content .section:first-child {
    margin-top: 0;
    padding-bottom: 40px;
}
#content .section p {
    text-indent: 1em;
}
#content .section p:first-letter {
    color: #5c1314;
    font-size: 1.2em;
}
#content .section h2,
#content .section h3,
#content .section h4 {
    margin: 10px;
}
#section1_1 {
    background: transparent url("../assets/headers.png") 0 -45px no-repeat;
    text-indent: -9999px;
    display: block;
    height: 30px;
}
#section1_1_1 {
    background: transparent url("../assets/headers.png") 0 -125px no-repeat;
    text-indent: -9999px;
    display: block;
    height: 30px;
}
#section1_1_2 {
    background: transparent url("../assets/headers.png") 0 -165px no-repeat;
    text-indent: -9999px;
    display: block;
    height: 30px;
}
#section1_2 {
    background: transparent url("../assets/headers.png") 0 -85px no-repeat;
    text-indent: -9999px;
    display: block;
    height: 30px;
}
#section1_2_1 {
    background: transparent url("../assets/headers.png") 0 -205px no-repeat;
    text-indent: -9999px;
    display: block;
    height: 30px;
}
#section1_2_2 {
    background: transparent url("../assets/headers.png") 0 -240px no-repeat;
    text-indent: -9999px;
    display: block;
    height: 30px;
}
/* recipe */
.recipe ul {
    list-style: url("../assets/kanal.png");
    margin: 20px 45px;
}
.recipe ol {
    list-style: decimal;
    margin: 20px 45px;
}