.figure {
    border: 1px solid #b4b4b4;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin: 10px;
    color: #b4b4b4;
    background-color: white;
    -moz-box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.8);
    box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.8);
}
.figure span {
    font-size: 0.7em;
}
#imgf1 {
    float: left;
    margin-right: 10px;
    margin-bottpm: 10px;
}
#imgf2 {
    float: right;
}
#imgf3 {
    margin: 5px auto;
}
