html, body {
    background-color: #ddd;
    color: #444;
    font-family: sans-serif;
    font-size: 1em;
}

blockquote {
    background: transparent url("../assets/qmo.png") left top no-repeat;
    font-style: italic;
    padding: 10px;
    margin: 0 50px;
    font-weight: bold;
    font-size: 0.8em;
}

a, a:active, a:visited, a:link {
    color: #5c1314;
}

a:hover {
    color: #51733f;
}

h1 a, h2 a, h3 a, h4 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color: inherit;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}
h2 {
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}
h3 {
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
}
h4 {
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
}
