#header-box {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
}
#header-box h1 {
    margin: 0;
    background: transparent url("../assets/headers.png") 0 0 no-repeat;
    text-indent: -9999px;
    height: 45px;
}
#header-box p {
    font-style: italic;
    font-weight: bold;
    color: #999;
    margin: 0;
    padding: 0 0 0 10px;
}
#header-box div {
    padding: 10px 0 0 10px;
    height: 80px;
    background-color: #ddd;
    -moz-box-shadow:  0 10px 20px 0 rgba(221, 221, 221, 1);
    -webkit-box-shadow:  0 10px 20px 0 rgba(221, 221, 221, 1);
    box-shadow:  0 10px 20px 0 rgba(221, 221, 221, 1);
}
