#nav-box {
    background-color: #eee;
    border: 1px solid #b4b4b4;
    border-bottom-width: 2px;
    border-right-width: 2px;
    width: 380px;
    float: right;
    margin: 100px 0;
    padding: 10px 0;
    overflow: hidden;
    -moz-box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.8);
    box-shadow:  5px 5px 10px 0px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#nav-box h2 a {
    display: none;
    visibility: hidden;
}
#nav-box ul {
    padding: 0 0 0 10px;
}
#nav-box ul li a {
    display: block;
    padding: 3px 0 3px 5px;
    text-decoration: none;
}
#nav-box ul li a:hover {
    text-decoration: none;
    background-color: #dfdfdf;
    font-weight: bold;
    color: #5c1314;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}
#nav-box ul li a:hover:after {
    content: '\0020\2190';
}
