body {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    font-size: 1em;
    font-family: sans;
}
h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: serif;
}
em {
    font-style: italic;
    font-family: serif;
}
h2 {
    font-size: 1.8em;
    font-family: serif;
    margin: 0 0 10px 0;
}
article {
    margin: 0 0 30px 0;
}

/* header */
header {
    width: 960px;
    margin: 0 auto 20px auto;
    border-bottom: 3px solid #000;
    font-family: serif;
    padding: 10px 0;
}
/* footer */
footer {
    width: 960px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}
/* columns */
aside form,
aside div,
aside nav {
    background-color: #eee;
    padding: 10px;
    font-size: 0.8em;
    margin-bottom: 10px;
}
aside h2 {
    font-weight: normal;
    font-size: 1.5em;
    border-bottom: 1px solid #000;
    font-family: sans;
}
/* column-left */
#column-left {
    width: 280px;
    float: left;
}
#column-left nav li {
    padding: 5px 0;
}
#column-left div ul {
    padding: 0 0 0 25px;
}
#column-left div ul li {
    padding: 5px 0;
    list-style: disc;
}
#column-left div ul li q span {
    font-weight: bold;
    padding-right: 5px;
}
/* column-right */
#column-right {
    width: 230px;
    float: right;
}
#column-right input {
    width: 120px;
}
#column-right div ul {
    text-align: center;
    margin: 10px 0;
}
#column-right div ul li {
    display: inline;
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    line-height: 30px;
}
/* content */
#content {
    margin: 0 230px 0 280px;
    padding: 0 20px;
}
