/*
kis képek
 - lekerekítése: 8px
 - árnyéka: 0px 15px 15px -10px black
 - jobb és alsó margó: 10px
*/
.box img {
    float: left;
    margin: 0 10px 10px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ie-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 15px 15px -10px black;
    -moz-box-shadow: 0 15px 15px -10px black;
    -o-box-shadow: 0 15px 15px -10px black;
    -ie-box-shadow: 0 15px 15px -10px black;
    box-shadow: 0 15px 15px -10px black;
}
/*
minden cím
 - árnyéka: 0 1px 1px black
 - betűtípusa: matt_smith_doctor_who.ttf
 
doboz címek
 - háttér: #005475
 - betűméret: 60px
 - szöveg árnyéka: 0 1px 1px lightgray
*/
.box h2 {
    background-color: #005475;
    font-family: "Doctor Who";
    font-size: 60px;
    color: white;
    border-top-left-radius: 8px;
    padding: 10px 10px 5px 100px;
    text-shadow: 0px 1px 1px lightgray;
    filter: dropshadow(color=#d3d3d3, offx=0, offy=1);
}
.box p {
    padding: 10px 0 0 0;
}
/*
A reset.css ezt törli globálisan, de a cikkekben szükséges.
*/
.box q:before {
    content: open-quote;
}
.box q:after {
    content: close-quote;
}

