/*
lábléc
 - háttér: #12272f
 - betűméret: 14px
 - cím betűmérete: 16px
*/
footer {
    background-color: #12272f;
    font-size: 14px;
    color: white;
    padding: 10px 0;
}
footer h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
footer ul li {
    padding: 2px 0;
}
footer ul li a {
    color: white;
    text-decoration: none;
}
footer blockquote {
    margin: 5px 0;
    font-style: italic;
    line-height: 22px;
    text-align: center;
}
footer blockquote:before {
    content: open-quote;
}
footer blockquote:after {
    content: close-quote;
}
footer .author {
    padding: 0;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}
