/*
minden cím
 - betűtípusa: matt_smith_doctor_who.ttf
*/
@font-face {
    font-family: "Doctor Who";
    src: url("../fonts/matt_smith_doctor_who.ttf");
}
/*
háttere: broken_noise.png
*/
html {
    background: #1b1b1b url("../images/broken_noise.png") left top repeat;
    font-size: 1em;
    font-family: Arial, sans-serif;
}
/*
árnyéka: 0px -2px 15px black
*/
body {
    width: 960px;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 15px black;
    -moz-box-shadow: 0 2px 15px black;
    -o-box-shadow: 0 2px 15px black;
    -ie-box-shadow: 0 2px 15px black;
    box-shadow: 0 2px 15px black;
}
section {
    background: transparent url("../images/grunge_wall.png") left top repeat;
    padding: 20px 0;
}


