/*
fejléc
 - háttere: tardis-header.png
 - színe: rgba(0, 84, 117,0.85)
*/ 
#header {
    height: 150px;
    background: rgba(0, 84, 117, 0.85) url("../images/tardis-header.png") center center no-repeat;
    color: white;
    overflow: hidden;
    text-align: center;
    line-height: 150px;
}
/*
minden cím
 - árnyéka: 0 1px 1px black
 - betűtípusa: matt_smith_doctor_who.ttf

cím betűmérete: 80px
*/
#header h1 {
    font-family: "Doctor Who";
    font-size: 80px;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
    vertical-align: bottom;
    line-height: normal;
    text-shadow: 0px 1px 1px black;
    filter: dropshadow(color=#000000, offx=0, offy=1);
}
#header-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 84, 117, 0.85);
}