html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
@font-face{font-family:"Doctor Who";src:url("../fonts/matt_smith_doctor_who.ttf")}
html{background:#1b1b1b url("../images/broken_noise.png") left top repeat;font-size:1em;font-family:Arial,sans-serif}
body{width:960px;margin:0 auto;-webkit-box-shadow:0 2px 15px black;-moz-box-shadow:0 2px 15px black;-o-box-shadow:0 2px 15px black;-ie-box-shadow:0 2px 15px black;box-shadow:0 2px 15px black}
section{background:transparent url("../images/grunge_wall.png") left top repeat;padding:20px 0}
.container_12{margin-left:auto;margin-right:auto;width:960px}
.grid_1, 
.grid_2, 
.grid_3, 
.grid_4, 
.grid_5, 
.grid_6, 
.grid_7, 
.grid_8, 
.grid_9, 
.grid_10, 
.grid_11, 
.grid_12{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}
.push_1, .pull_1, 
.push_2, .pull_2, 
.push_3, .pull_3, 
.push_4, .pull_4, 
.push_5, .pull_5, 
.push_6, .pull_6, 
.push_7, .pull_7, 
.push_8, .pull_8, 
.push_9, .pull_9, 
.push_10, .pull_10, 
.push_11, .pull_11, 
.push_12, .pull_12{position:relative}
.alpha{margin-left:0}
.omega{margin-right:0}
.container_12 .grid_1{width:60px}
.container_12 .grid_2{width:140px}
.container_12 .grid_3{width:220px}
.container_12 .grid_4{width:300px}
.container_12 .grid_5{width:380px}
.container_12 .grid_6{width:460px}
.container_12 .grid_7{width:540px}
.container_12 .grid_8{width:620px}
.container_12 .grid_9{width:700px}
.container_12 .grid_10{width:780px}
.container_12 .grid_11{width:860px}
.container_12 .grid_12{width:940px}
.container_12 .prefix_1{padding-left:80px}
.container_12 .prefix_2{padding-left:160px}
.container_12 .prefix_3{padding-left:240px}
.container_12 .prefix_4{padding-left:320px}
.container_12 .prefix_5{padding-left:400px}
.container_12 .prefix_6{padding-left:480px}
.container_12 .prefix_7{padding-left:560px}
.container_12 .prefix_8{padding-left:640px}
.container_12 .prefix_9{padding-left:720px}
.container_12 .prefix_10{padding-left:800px}
.container_12 .prefix_11{padding-left:880px}
.container_12 .suffix_1{padding-right:80px}
.container_12 .suffix_2{padding-right:160px}
.container_12 .suffix_3{padding-right:240px}
.container_12 .suffix_4{padding-right:320px}
.container_12 .suffix_5{padding-right:400px}
.container_12 .suffix_6{padding-right:480px}
.container_12 .suffix_7{padding-right:560px}
.container_12 .suffix_8{padding-right:640px}
.container_12 .suffix_9{padding-right:720px}
.container_12 .suffix_10{padding-right:800px}
.container_12 .suffix_11{padding-right:880px}
.container_12 .push_1{left:80px}
.container_12 .push_2{left:160px}
.container_12 .push_3{left:240px}
.container_12 .push_4{left:320px}
.container_12 .push_5{left:400px}
.container_12 .push_6{left:480px}
.container_12 .push_7{left:560px}
.container_12 .push_8{left:640px}
.container_12 .push_9{left:720px}
.container_12 .push_10{left:800px}
.container_12 .push_11{left:880px}
.container_12 .pull_1{left:-80px}
.container_12 .pull_2{left:-160px}
.container_12 .pull_3{left:-240px}
.container_12 .pull_4{left:-320px}
.container_12 .pull_5{left:-400px}
.container_12 .pull_6{left:-480px}
.container_12 .pull_7{left:-560px}
.container_12 .pull_8{left:-640px}
.container_12 .pull_9{left:-720px}
.container_12 .pull_10{left:-800px}
.container_12 .pull_11{left:-880px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before, 
.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
#header{height:150px;background:rgba(0,84,117,0.85) url("../images/tardis-header.png") center center no-repeat;color:white;overflow:hidden;text-align:center;line-height:150px}
#header h1{font-family:"Doctor Who";font-size:80px;display:inline-block;text-align:left;margin-bottom:10px;vertical-align:bottom;line-height:normal;text-shadow:0px 1px 1px black;filter:dropshadow(color=#000,offx=0,offy=1)}
#header-container{width:100%;height:100%;overflow:hidden;background-color:rgba(0,84,117,0.85)}
.box img{float:left;margin:0 10px 10px 0;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;-ie-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 15px 15px -10px black;-moz-box-shadow:0 15px 15px -10px black;-o-box-shadow:0 15px 15px -10px black;-ie-box-shadow:0 15px 15px -10px black;box-shadow:0 15px 15px -10px black}
.box h2{background-color:#005475;font-family:"Doctor Who";font-size:60px;  color:white;border-top-left-radius:8px;padding:10px 10px 5px 100px;text-shadow:0px 1px 1px lightgray;filter:dropshadow(color=#d3d3d3,offx=0,offy=1)}
.box p{padding:10px 0 0 0}
.box q:before{content:open-quote}
.box q:after{content:close-quote}
footer{background-color:#12272f;font-size:14px;color:white;padding:10px 0}
footer h3{font-size:16px;font-weight:bold;margin:0 0 10px 0}
footer ul li{padding:2px 0}
footer ul li a{color:white;text-decoration:none}
footer blockquote{margin:5px 0;font-style:italic;line-height:22px;text-align:center}
footer blockquote:before{content:open-quote}
footer blockquote:after{content:close-quote}
footer .author{padding:0;text-align:right;font-weight:bold;font-style:italic}