figure {
    border: 1px solid #b4b4b4;
    padding: 10px;
    text-align: center;
    margin: 5px;
}
figure figcaption {
    color: #b4b4b4;
    font-size: 0.7em;
}
#imgf1 {
    float: left;
}
#imgf2 {
    float: right;
}
#imgf3 {
    width: 150px;
    margin: 5px auto;
}
