header {
    background: transparent url("../assets/header_bg.png") left bottom repeat-x;
    padding: 10px;
    position: fixed;
    display: block;
    height: 80px;
    top: 0;
    width: 100%;
}
header h1 {
    margin: 0;
    background: transparent url("../assets/headers.png") 0 0 no-repeat;
    height: 45px;
}
header h1 a {
    display: none;
    visibility: hidden;
}
header p {
    font-style: italic;
    font-weight: bold;
    color: #999;
    margin: 0;
    padding: 0 0 0 10px;
}
