nav {
    background-color: #eee;
    border: 1px solid #b4b4b4;
    width: 350px;
    float: right;
    margin: 100px 0;
    padding: 10px 0;
    overflow: hidden;
}
nav h2 a {
    display: none;
    visibility: hidden;
}
nav ul {
    padding: 0 0 0 10px;
}
nav ul li a {
    display: block;
    padding: 3px 0 3px 5px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: none;
    background-color: #5c1314;
    color: #fff;
}
